.sign-in {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(139, 178, 178) 0%, rgb(179.43, 205.06, 205.06) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 1079px;
  overflow: hidden;
  width: 1921px;
}

.overlap-group1-2 {
  height: 1080px;
  margin-left: 46px;
  position: relative;
  width: 1887px;
}

.overlap-group-14 {
  height: 1080px;
  left: 42px;
  position: absolute;
  top: 0;
  width: 1845px;
}

.white-bg {
  background-color: var(--white);
  border-radius: 30px 0px 0px 30px;
  height: 1080px;
  left: 578px;
  position: absolute;
  top: 0;
  width: 1267px;
}

.sign-in-heading {
  left: 815px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 153px;
  width: 163px;
}

.continue-with-google {
  border: 1px solid;
  border-color: var(--mercury);
  border-radius: 6px;
  height: 3px;
  left: 1115px;
  position: absolute;
  top: 250px;
  width: 3px;
}

.or {
  left: 1188px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 380px;
  width: 75px;
}

.email-input {
  height: 1px;
  left: 814px;
  object-fit: cover;
  position: absolute;
  top: 480px;
  width: 794px;
}

.email-address-text {
  left: 814px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 436px;
  width: 173px;
}

.password-input {
  height: 1px;
  left: 814px;
  object-fit: cover;
  position: absolute;
  top: 584px;
  width: 794px;
}

.password-text {
  left: 814px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 539px;
  width: 118px;
}

.sign-in-button {
  background-color: var(--pewter-blue);
  border-radius: 6px;
  height: 62px;
  left: 814px;
  position: absolute;
  top: 654px;
  width: 794px;
}

.sign-in-text {
  left: 1165px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 666px;
  width: 94px;
}

.dont-have-an-account-sign-up {
  left: 815px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 784px;
  width: 381px;
}

.abstraction {
  height: 631px;
  left: 0;
  position: absolute;
  top: 417px;
  width: 733px;
}

.all-of-our-products {
  left: 1px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  top: 156px;
  width: 600px;
}

.the-best-e-commerce {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 315px;
  width: 601px;
}

