.group-5405-4 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 18px;
  left: 79px;
  min-width: 165px;
  position: absolute;
  top: 65px;
}

.x44999-sar {
  letter-spacing: 0;
  line-height: 12px;
  margin-bottom: 0.26px;
  min-width: 63px;
  text-align: center;
  text-decoration: line-through;
  white-space: nowrap;
}

.x31249-sar {
  letter-spacing: 0;
  line-height: 18px;
  min-width: 88px;
  text-align: center;
  white-space: nowrap;
}

.group-5405-4.group-5405-1 {
  align-self: center;
  left: unset;
  margin-left: 4.0px;
  position: unset;
  top: unset;
}

.group-5405-4.group-5405-2 {
  left: unset;
  margin-left: 4.0px;
  position: unset;
  top: unset;
}

.group-5405-4.group-5405-3 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 18px;
  margin-right: 2px;
  min-width: 165px;
}

