.group-533 {
  align-items: flex-start;
  display: flex;
  gap: 1px;
  margin-left: 12px;
  margin-top: 3.0px;
  min-width: 23px;
}

.rectangle-119 {
  background-color: var(--shark);
  height: 17px;
  width: 5px;
}

