:root { 
  --alto: #d9d9d942;
  --black: #000000;
  --black-haze: #f6f6f6;
  --cod-gray: #090909;
  --delta: #a3a3a3;
  --fuscous-gray: #515151;
  --granite-gray: #676767;
  --mercury: #e7e7e7;
  --nobel: #b3b3b3;
  --pewter-blue: #8bb2b2;
  --pumice: #c9c9c9;
  --sea-pink: #e59898;
  --star-dust: #a1a1a1;
  --white: #ffffff;
  --woodsmoke: #111010;
  --woodsmoke-2: #11101080;
 
  --font-size-l: 26px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xl: 44px;
  --font-size-xs: 16px;
  --font-size-xxs: 14px;
  --font-size-xxxs: 12px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-mulish-bold: "Mulish-Bold", Helvetica;
  --font-family-mulish-regular: "Mulish-Regular", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-poppins-bold: "Poppins-Bold", Helvetica;
  --font-family-proxima_nova-bold: "Proxima Nova-Bold", Helvetica;
  --font-family-proxima_nova-regular: "Proxima Nova-Regular", Helvetica;
  --font-family-proxima_nova-semibold: "Proxima Nova-Semibold", Helvetica;
  --font-family-roboto-regular: "Roboto-Regular", Helvetica;
}
.proximanova-regular-normal-pumice-12px {
  color: var(--pumice);
  font-family: var(--font-family-proxima_nova-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.proximanova-normal-woodsmoke-18px {
  color: var(--woodsmoke-2);
  font-family: var(--font-family-proxima_nova-semibold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.proximanova-normal-woodsmoke-26px {
  color: var(--woodsmoke);
  font-family: var(--font-family-proxima_nova-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-star-dust-14px {
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 600;
}

.proximanova-bold-cod-gray-16px {
  color: var(--cod-gray);
  font-family: var(--font-family-proxima_nova-bold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.poppins-normal-delta-14px {
  color: var(--delta);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.proximanova-normal-white-28px {
  color: var(--white);
  font-family: var(--font-family-proxima_nova-semibold);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

.proximanova-regular-normal-nobel-16px {
  color: var(--nobel);
  font-family: var(--font-family-proxima_nova-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-white-44px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.proximanova-regular-normal-white-9px {
  color: var(--white);
  font-family: var(--font-family-proxima_nova-regular);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-granite-gray-15-1px {
  color: var(--granite-gray);
  font-family: var(--font-family-mulish-bold);
  font-size: 15.1px;
  font-style: normal;
  font-weight: 700;
}

.poppins-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-star-dust-12px {
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-fuscous-gray-28px {
  color: var(--fuscous-gray);
  font-family: var(--font-family-poppins);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-white-14px-2 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.poppins-normal-star-dust-14px {
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.poppins-normal-pewter-blue-14px {
  color: var(--pewter-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-white-44px {
  color: var(--white);
  font-family: var(--font-family-poppins-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.roboto-regular-normal-white-25px {
  color: var(--white);
  font-family: var(--font-family-roboto-regular);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
