.group-5325 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 33px;
  min-height: 87px;
  position: absolute;
  top: 294px;
  width: 153px;
}

.lorem-ipsum-1 {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -5px;
  min-height: 23px;
  white-space: nowrap;
}

.t-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 6px;
  min-height: 25px;
}

.lorem-ipsum-2 {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -1px;
  margin-top: 6px;
  min-height: 27px;
  white-space: nowrap;
}

.group-5325.group-5326 {
  left: 23px;
}

.group-5325.group-5327 {
  left: 26px;
}

