.group-539 {
  align-items: center;
  display: flex;
  gap: 14px;
  height: 27px;
  min-width: 310px;
}

.ellipse {
  background-color: var(--mist-gray);
  border-radius: 4px;
  height: 8px;
  margin-top: 1.0px;
  width: 8px;
}

.lorem-ipsum-dolor-sit-amet {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  width: 286px;
}

