.product-search-result {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2390px;
  width: 1920px;
}

.logo-3 {
  border: 1px solid;
  border-color: var(--sea-pink);
  border-radius: 6px;
  height: 57px;
  margin-top: 44px;
  width: 162px;
}

.flex-row-7 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 118.67px;
  min-width: 1541px;
}

.icon-search-2 {
  align-self: center;
  height: 18px;
  margin-bottom: 1.71px;
  width: 18px;
}

.small-man-icon-2 {
  height: 13px;
  margin-left: 1319px;
  margin-top: 2.21px;
  width: 15px;
}

.welcome-text-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 17px;
  min-height: 24px;
  width: 173px;
}

.flex-row-8 {
  align-items: center;
  display: flex;
  gap: 243px;
  margin-left: 6.0px;
  margin-top: 14px;
  min-width: 364px;
}

.place-2 {
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  min-width: 47px;
  white-space: nowrap;
}

.post-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 74px;
  text-align: right;
}

.overlap-group10 {
  background-size: 100% 100%;
  height: 526px;
  margin-top: 34px;
  position: relative;
  width: 1920px;
}

.rectangle-1205 {
  background-color: #25252573;
  height: 526px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.t {
  color: var(--white);
  font-family: var(--font-family-proxima_nova-bold);
  font-size: 72px;
  font-weight: 700;
  left: 249px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 226px;
}

.lorem-ipsum-is-simpl {
  color: #e4e4e4;
  font-family: var(--font-family-proxima_nova-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 249px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 329px;
  width: 657px;
}

.showing-num-of-item {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 250px;
  margin-top: 81px;
  min-height: 24px;
  width: 173px;
}

.result-container-1 {
  height: 970px;
  margin-top: 53px;
  position: relative;
  width: 1422px;
}

.search-result-1 {
  align-items: flex-end;
  display: flex;
  gap: 28px;
  height: 970px;
  left: 0;
  min-width: 1422px;
  position: absolute;
  top: 0;
}

.result {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 470px;
  min-width: 335px;
}

.overlap-group-5 {
  align-items: flex-start;
  background-color: var(--black-haze);
  box-shadow: 0px 8px 16px #0000000a;
  display: flex;
  flex-direction: column;
  gap: 13px;
  min-height: 470px;
  width: 333px;
}

.x11-1-1,
.x14-1,
.x10-1-1,
.x13-1,
.x9-61-1,
.x12-1,
.x8-1-1 {
  height: 333px;
  margin-top: 12px;
  object-fit: cover;
  width: 333px;
}

.overlap-group-7 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 19px;
  min-height: 112px;
  padding: 24px 53px;
  position: relative;
  width: 333px;
}

.windsor-white-oak-1 {
  letter-spacing: 0;
  line-height: 26px;
  min-width: 225px;
  text-align: center;
  white-space: nowrap;
}

.result-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 970px;
  width: 335px;
}

.overlap-group-6 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-height: 112px;
  padding: 25px 0;
  position: relative;
  width: 333px;
}

.zurich-pearl-6060 {
  letter-spacing: 0;
  line-height: 26px;
  min-width: 223px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group-8 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 19px;
  min-height: 112px;
  padding: 24px 28px;
  position: relative;
  width: 333px;
}

.sicily-grey-dcor-3060-1 {
  letter-spacing: 0;
  line-height: 26px;
  min-width: 276px;
  text-align: center;
  white-space: nowrap;
}

.zurich-grey-6060 {
  letter-spacing: 0;
  line-height: 26px;
  min-width: 219px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group-9 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 19px;
  min-height: 112px;
  padding: 24px 80px;
  position: relative;
  width: 333px;
}

.sardinia-white-1 {
  letter-spacing: 0;
  line-height: 26px;
  min-width: 171px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group-10 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-height: 112px;
  padding: 25px 26px;
  position: relative;
  width: 333px;
}

.zurich-dark-grey-6060 {
  letter-spacing: 0;
  line-height: 26px;
  min-width: 280px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group-11 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 19px;
  min-height: 112px;
  padding: 24px 63px;
  position: relative;
  width: 333px;
}

.sicily-grey-3060-1 {
  letter-spacing: 0;
  line-height: 26px;
  min-width: 205px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group9 {
  align-items: flex-start;
  background-color: var(--woodsmoke);
  display: flex;
  flex-direction: column;
  margin-top: 239px;
  min-height: 304px;
  padding: 28px 248px;
  width: 1920px;
}

.flex-row-9 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 90px;
  margin-top: 33px;
  min-width: 1422px;
}

.logo-ending-2 {
  background-color: var(--alto);
  border: 1px solid;
  border-color: var(--mercury);
  border-radius: 6px;
  height: 57px;
  width: 162px;
}

.flex-col-6 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 311px;
  min-height: 84px;
  width: 90px;
}

.products-2,
.contact-information-2 {
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.team-info-2 {
  letter-spacing: 0;
  line-height: 23.8px;
  width: 90px;
}

.project-container-2 {
  height: 60px;
  margin-left: 192px;
  margin-top: 6px;
  position: relative;
  width: 183px;
}

.project-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  width: 183px;
}

.project-about-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 23.8px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
  width: 183px;
}

.flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 153px;
  margin-top: 6px;
  min-height: 60px;
  width: 331px;
}

.team-member-2 {
  letter-spacing: 0;
  line-height: 23.8px;
  white-space: nowrap;
}

.flex-row-10 {
  align-items: center;
  display: flex;
  gap: 15px;
  margin-left: 2px;
  margin-top: 56px;
  min-width: 74px;
}

.icon-facebook-2 {
  height: 16px;
  margin-bottom: 0.04px;
  width: 8px;
}

.icon-twitter-2 {
  height: 15px;
  margin-top: 0.49px;
  width: 18px;
}

.insicon-container-2 {
  height: 18px;
  position: relative;
  width: 18px;
}

.ins-icon2-2 {
  height: 6px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.ins-icon-2 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.copyright-2023-all-rights-reserved-2 {
  height: 9px;
  letter-spacing: 0.18px;
  line-height: normal;
  margin-top: 42px;
}

