.result1 {
  align-items: flex-start;
  display: flex;
  height: 530px;
  left: 0;
  min-width: 333px;
  position: absolute;
  top: 0;
}

.overlap-group8 {
  align-items: flex-start;
  background-color: var(--black-haze);
  box-shadow: 0px 8px 16px #0000000a;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 470px;
  width: 333px;
}

.x15-1 {
  height: 333px;
  margin-top: 12px;
  object-fit: cover;
  width: 333px;
}

.overlap-group1-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 109px;
  padding: 10px 0;
  width: 333px;
}

.zurich-vision-6060 {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 18px;
  min-width: 235px;
  text-align: center;
  white-space: nowrap;
}

.group-5236 {
  align-items: center;
  display: flex;
  gap: 7px;
  height: 18px;
  margin-right: 9.0px;
  margin-top: 16px;
  min-width: 168px;
}

.x44999-sar-2 {
  letter-spacing: 0;
  line-height: 12px;
  margin-bottom: 0.26px;
  min-width: 63px;
  text-align: center;
  text-decoration: line-through;
  white-space: nowrap;
}

.x23799-sar {
  letter-spacing: 0;
  line-height: 18px;
  min-width: 94px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group-12 {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--woodsmoke);
  display: flex;
  height: 8px;
  margin-right: 1.0px;
  margin-top: 3px;
  min-width: 180px;
  padding: 0.5px 36px;
}

.add-to-car-t {
  color: var(--woodsmoke);
  font-family: var(--font-family-proxima_nova-bold);
  font-size: var(--font-size-xs);
  font-weight: 700;
  height: 3px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 105px;
}

